.demo-button{
    position: fixed;
    left:70%;
    margin: 24px 20px;
    background-color: transparent;
    display:inline-block;
    border:.2em solid #FFFFFF;
    font-size: 1em;
    color:#FFFFFF;
    position: fixed;
    border-radius:.5em;
    box-sizing: border-box;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    text-align:center;
    transition: all 0.2s;
    width: 80px;
    height: 50px;
}

@media screen and (max-width: 1200px){
.demo-button{
    background-color: purple;
    position: fixed;
    border-radius: 10px;
    margin: 4px -55px;
    left:75%;
}
}


