.demo-button{
    position: absolute;
    margin-top: 4.5vh;
    margin-bottom: auto;
    margin-left: 3vw;
    margin-right: auto;
    background-color:transparent;
    display:inline-block;
    border:.2em solid #FFFFFF;
    font-size: 1.2vw;
    color:#FFFFFF;
    border-radius:.5em;
    box-sizing: border-box;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    text-align:center;
    transition: all 0.2s;
    width:6vw;
    height: 5vh;
    cursor: pointer;
    outline-offset: 4px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

@media only screen 
  and (min-device-width: 300px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3){
      .demo-button{
          margin-left: -50px;
          height: 25px;
          width: 50px;
          margin-top: 10px;
          font-size: 10px;
      }
      .demo-button-light{
          margin-left: -50px;
          height: 25px;
          width: 50px;
          margin-top: 10px;
          font-size: 10px;
      }

      .login-button{
          margin-left: -50px;
          height: 25px;
          width: 50px;
          margin-top:40px;
          font-size: 10px;
      }

      .login-button-light{
          margin-left: -50px;
          height: 25px;
          width: 50px;
          margin-top:40px;
          font-size: 10px;
      }
  }


.demo-button:hover{
    color:#000000;
    background-color:#FFFFFF;
    transform: translateY(-6px);
}

.demo-button:active{
     transform: translateY(2px);
}

.demo-button-light{
    position: absolute;
    margin-top: 4.5vh;
    margin-bottom: auto;
    margin-left: 3vw;
    margin-right: auto;
    background-color:transparent;
    display:inline-block;
    border:.2em solid black;
    font-size: 1.2vw;
    color:black;
    border-radius:.5em;
    box-sizing: border-box;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    text-align:center;
    transition: all 0.2s;
    width:6vw;
    height: 5vh;
    cursor: pointer;
    outline-offset: 4px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.demo-button-light:hover{
    transform: translateY(-6px);
}

.demo-button-light:active{
     transform: translateY(2px);
}