

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
a:hover,button:hover,a:active,button:active{
    transition: none
}
}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
a:hover,button:hover,a:active,button:active{
    transition: none
}
}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 
      a:hover,button:hover,a:active,button:active{
    transition: none
}
}

body {
    padding:0;
    margin:0;
    border: 0;
}

.home-background {
    min-height: 100%;
    min-width: 300px;
    width: 100%;
    height: auto;
}

.searchBar{
    position: sticky;
}

.input-search-field{
    display: inline-block;
    position: absolute;
    font-family:'Roboto',sans-serif;
    margin-top: 20%;
    margin-bottom: 80%;
    margin-left: 30%;
    margin-right: 70%;
    height: 3vh;
    width: 40%;
}

/* .outterWrapper{
    position: sticky;
} */


