body {
    padding:0;
    margin:0;
    border: 0;
}

.home-background {
    min-height: 100%;
    min-width: 300px;
    width: 100%;
    height: auto;
}

.searchBar{
    position: sticky;
}

.input-search-field{
    display: inline-block;
    position: static;
    font-family:'Roboto',sans-serif;
    height: 3vh;
    width: 35vw;
}

/* .outterWrapper{
    position: sticky;
} */

.auto-dropdown {
  position: static;
  display: inline-block;
  font-family:'Roboto',sans-serif;
  background-color: white;
  width: 25vw;
  max-width:350px;
  max-height:100px;
  border: 1px solid black;
  overflow: scroll;
  margin-top:.5px;
  font-size: calc(8px + 0.5vw);
}

ul.auto-dropdown {
    list-style-type: none;
    padding-left:0;
}

.searchList {
    text-decoration:none;
    color: black;
    text-transform: capitalize;
}

.searchList:hover {
    background-color: #ECECEC;
    color:#B80f0a;
}

.outter {
    position: absolute;
    margin-top:15vw;
    margin-left: 30vw;
    height:15vw;
    width:40vw;
}

.listSearch {
    box-shadow: 0px 0px 2px .5px rgba(0, 0, 0, 0.2);
    padding-left:0;
}



