.mostRecentPhoto-1 img{
    max-width:200px;
    max-height: 200px;
    position: static;
    height: 20vw;
    width: 10vw;
    margin: 0 10%;
    min-height: 150px;
}

.mostRecentPhoto-2 img{
    max-width:200px;
    max-height: 200px;
    position: static;
    height: 20vw;
    width: 10vw;
    margin: 0 10%;
    min-height: 150px;
}

.mostRecentPhoto-3 img{
    max-width:200px;
    max-height: 200px;
    position: static;
    height: 20vw;
    width: 10vw;
    margin: 0 10%;
    min-height: 150px;
}

.mostRecentPhoto-4 img{
    max-width:200px;
    max-height: 200px;
    position: static;
    height: 20vw;
    width: 10vw;
    margin: 0 10%;
    min-height: 150px;
}

.mostRecentPhoto-1 > img{
    object-fit: contain;
}

.mostRecentPhoto-2 > img{
    object-fit: contain;
}

.mostRecentPhoto-3 > img{
    object-fit: contain;
}

.mostRecentPhoto-4 > img{
    object-fit: contain;
}

.mostRecentPhoto-1{
    grid-area: space1;
    box-shadow: -2px 5px 2px rgba(0, 0, 0, 0.2);
    text-align: center;
    border-radius: 0px 0px 20px 20px;
    transition: all 0.2s;
    height: 250px;
    max-height: 250px;
}


.mostRecentPhoto-1:hover{
    transform: translateY(-6px);
}

.mostRecentPhoto-2{
    grid-area: space2;
    box-shadow: 0px 5px 2px rgba(0, 0, 0, 0.2);
    text-align: center;
    border-radius: 0px 0px 20px 20px;
    transition: all 0.2s;
    height: 250px;
    max-height: 250px;
}

.mostRecentPhoto-2:hover{
    transform: translateY(-6px);
}

.mostRecentPhoto-3{
    grid-area: space3;
    box-shadow: 0px 5px 2px rgba(0, 0, 0, 0.2);
    text-align: center;
    border-radius: 0px 0px 20px 20px;
    transition: all 0.2s;
    max-height: 250px;
    height: 250px;
}

.mostRecentPhoto-3:hover{
    transform: translateY(-6px);
}

.mostRecentPhoto-4{
    grid-area: space4;
    box-shadow: 2px 5px 2px rgba(0, 0, 0, 0.2);
    text-align: center;
    border-radius: 0px 0px 20px 20px;
    transition: all 0.2s;
    max-height: 250px;
    height: 250px;
}

.mostRecentPhoto-4:hover{
    transform: translateY(-6px);
}

.mostRecentPhoto-1-name{
    color:teal;
    grid-area:space1-name;
    padding-top: 1vh;
    padding-bottom: 1vh;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    text-align: center;
    font-size: 15px;
    text-transform: capitalize;
}

.mostRecentPhoto-2-name{
    color:teal;
    grid-area:space2-name;
    padding-top: 1vh;
    padding-bottom: 1vh;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    text-align: center;
    text-transform: capitalize;
}

.mostRecentPhoto-3-name{
    color:teal;
    grid-area:space3-name;
    padding-top: 1vh;
    padding-bottom: 1vh;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    text-align: center;
    text-transform: capitalize;
  
}

.mostRecentPhoto-4-name{
    color:teal;
    grid-area:space4-name;
    padding-top: 1vh;
    padding-bottom: 1vh;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    text-align: center;
    text-transform: capitalize;
}

.recentNavLink{
    text-decoration: none;
}



.mostRecentImages {
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 2%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20%, 1fr));
    grid-template-rows: auto;
    grid-template-areas:
    "space1 space2 space3 space4"
    "space1-name space2-name space3-name space4-name"
    ;
}

.title_mostRecent{
    text-align: center;
    font-family:'Roboto',sans-serif;
    font-size:4vw;
    color: white;
    text-shadow: 2px 2px 1px rgba(220, 20, 60, 0.5);
    background-color: #b0d2cf;
    margin-top: -1%;
    margin-bottom: 1%;
    height: 100px;
    line-height: 100px;
    text-transform: capitalize;
}

