#modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;

}

#modal-background {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

#modal-content {
  position: fixed;
  background-color:#b0d2cf;
  height: 60%;
  width: 25%;
  min-width: 300px;
  max-width: 341px;
  min-height: 520px;
  border-radius: 25px;
  overflow: auto;
}

.cancelModalLink{
color: red;
font-weight: 500;
padding-left: 42.5%;
padding-right: 42.5%;

}