.title_allDrinks{
    text-align: center;
    font-family:'Roboto',sans-serif;
    font-size: 4vh;
    color: white;
    text-shadow: 2px 2px 1px rgba(220, 20, 60, 0.5);
    background-color: #b0d2cf;
    margin-top: -1%;
    height: 115px;
    line-height: 100px;
}

@media only screen 
  and (min-device-width: 300px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3){
      .title_allDrinks{
          height: 100px;
          margin-top: -20px;
      }
  }


.caption {
    display: block;
    color: teal;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    text-align: center;
    font-size: 20px;
}

.star-rating{
    margin-top: 5%;
    display: block;
    text-align: center;
}

.postNewDrink-Link{
    color: #B80f0a;
    font-size: 1.6vh;
    margin-top: -65px;
    font-family:'Roboto',sans-serif;
    text-shadow: none;
}

.allDrinks-img{
    max-height: 200px;
    max-width: 215px;
    min-height: 100px;
    min-width: 100px;
    height: 20vw;
    width: 20vw;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    /* border: 2px solid black; */
    overflow: hidden;
    margin-bottom: 2%;
    margin-top: 10%;
    margin-left: 1rem;
    margin-right: 1rem;
    flex-wrap: nowrap;
    /* float: none; */
    background-color: white;
   
}

.all-drinks-image-container{
    max-height: 300px;
    max-width: 250px;
    min-height: 140px;
    min-width: 100px;
    height: 25vw;
    width: 25vw;
    border: 2px solid #F5F5F5;
    box-shadow: -1px 0px 2px 2px rgba(0, 0, 0, 0.2);
    border-radius: 20px 0 0 20px;
    border-right-style: none;
    overflow: hidden;
    margin-top: 2%;
    margin-bottom: 2%;
    flex-wrap: nowrap;
    float: left;
    margin-left: 5vw;
    margin-right: auto;
    background-color: white;
    text-align: center;
}


.allDrinks-container {
    margin-top: 2%;
    margin-bottom: 1%;
     /* border: 2px solid black; */
     display: flex;
     flex-direction: column;
     /* background-color: #F5FCFF; */
}


.drinks-title{
    margin-top: 2%;
    font-family:'Roboto',sans-serif;
    font-size: calc(11px + 0.5vw);
    font-weight: bold;
    max-width: 600px;
    margin-left: 30px;
    margin-right: 10px;
    color: black;
    flex-wrap: nowrap;
    overflow: hidden;
    text-align: left;
    text-transform: capitalize;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.linkToDrink{
    color: black;
}

.testDiv{
    text-align: center;
    border: 2px solid black;
    max-height: 200px;
    max-width: 325px;
    min-height: 70px;
    min-width: 125px;
    height: 12.5vw;
    width: 25vw;
    margin-top: 20px;
    margin-left: 70px;
}
.drink-info-div{
    border: 2px solid #F5F5F5;
    border-radius: 0 20px 20px 0;
    border-left-style: none;
    box-shadow:  1px 0px 2px 2px rgba(0, 0, 0, 0.2);
    border-left-style: unset;
    max-height: 300px;
    max-width: 650px;
    min-height: 140px;
    min-width: 250px;
    margin-top: 2%;
    margin-bottom: 2%;
    height: 25vw;
    width: 50vw;
    flex-wrap: nowrap;
    overflow: hidden;
    float: left;
    background-color: white;
    
}