.login-button{
    background-color: transparent;
    display:inline-block;
    border:.2em solid #FFFFFF;
    font-size: 1.2vw;
    color:#FFFFFF;
    position: absolute;
    border-radius:.5em;
    box-sizing: border-box;
    font-family:'Roboto',sans-serif;
    margin-top: 4.5vh;
    margin-bottom: auto;
    margin-left: -6vw;
    margin-right: auto;
    font-weight:300;
    text-align:center;
    transition: all 0.2s;
    width:6vw;
    height: 5vh;
    cursor: pointer;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.login-button:hover{
    color:#000000;
    background-color:#FFFFFF;
    transform: none;
}

.login-button:active{
     transform: none;
}

.login-button-light{
     background-color: transparent;
    display:inline-block;
    border:.2em solid black;
    font-size: 1.2vw;
    color:black;
    position: absolute;
    border-radius:.5em;
    box-sizing: border-box;
    font-family:'Roboto',sans-serif;
    margin-top: 4.5vh;
    margin-bottom: auto;
    margin-left: -6vw;
    margin-right: auto;
    font-weight:300;
    text-align:center;
    transition: all 0.2s;
    width:6vw;
    height: 5vh;
    cursor: pointer;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.login-button-light:hover{
    transform: none;
}

.login-button-light:active{
     transform: none;
}
