.login-button{
    background-color: transparent;
    display:inline-block;
    border:.2em solid #FFFFFF;
    font-size: 1em;
    color:#FFFFFF;
    position: fixed;
    border-radius:.5em;
    box-sizing: border-box;
    font-family:'Roboto',sans-serif;
    margin: 40px 40px;
    font-weight:300;
    text-align:center;
    transition: all 0.2s;
    left:75%;
    width: 80px;
    height: 50px;
}

.login-button:hover{
    color:#000000;
    background-color:#FFFFFF;
}


@media screen and (max-width: 1200px){
.login-button{
    background-color: black;
    position: fixed;
    border-radius: 10px;
    margin: 20px 5px;
    left:75%;
}
}
